body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  
  }
  
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 20px;
  }
  
  .column {
    width: 28%;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    margin: 1rem 0rem;
  }
  .container h3{
    text-align: center;    
  }

  @media screen and (max-width: 700px) {
    .container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  
    .column {
      width: 90%;
    }
  }
  
  .column h3 {
    margin: 10px 0px;
  }
  
  .task-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .task-list li {
    align-items: center;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    position: relative;
  }
  
  .task-list li p {
    background-color: rgb(206, 224, 232);
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }
  
  .chip {
    border-radius: 20px;
    display: inline-block;
    font-size: 12px;
    margin-right: 5px;
    padding: 2px 8px;
  }
   
  button {
    display: block;
    margin: 20px auto;
    width: 300px;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  .modal {
    display: none;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
  }
  
  .modal-content {
    background-color: #ccd5f1;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10% auto;
    padding: 20px;
    width: 80%;
    max-width: 400px;
  }
  
  .close {
    color: #000;
    cursor: pointer;
    float: right;
    font-size: 15px;
    font-weight: bold;
    
  }
  
  .close:hover {
    border: 1px solid #aaa; 
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input,
  form select {
    display: block;
    width: 100%;
    /* background-color: #fafeff; */
    color: black;
    border: 1px solid rgb(174, 171, 171);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 3px;
  }
  
  form button[type="submit"] {
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    padding: 10px;
    width: 100%;
  }
  
  form button[type="submit"]:hover {
    background-color: #0056b3;
  }